## Clock pin for SPARTAN3 BOARD
NET "clk"         LOC = "p184"; 

## VGA Connector 
NET "red_out_tl<0>"   LOC = "p96";
NET "red_out_tl<1>"   LOC = "p98";
NET "red_out_tl<2>"   LOC = "p100";
NET "grn_out_tl<0>"   LOC = "p106";
NET "grn_out_tl<1>"   LOC = "p108";
NET "grn_out_tl<2>"   LOC = "p102";
NET "blu_out_tl<0>"   LOC = "p94";
NET "blu_out_tl<1>"   LOC = "p97";

NET "hs_tl"       LOC = "p115";
NET "vs_tl"       LOC = "p113";

## SERIAL INTERFACE
NET "tx"  LOC = "p76"  ;
NET "rx"  LOC = "p75"  ;

## CORE LEDS
NET "led[0]"  LOC = "P68"  ;
NET "led[1]"  LOC = "P78"  ;
NET "led[2]"  LOC = "P83"  ;
NET "led[3]"  LOC = "P89"  ;
